.pfp{
    margin-top: 25%;
    margin-left: 25%;
    border-radius: 100%;
}
.input1{
    margin-top:50px;
    margin-left: 15%;
    border-radius: 30px;
    background-color: rgb(56, 56, 56);
    height: 30px;
    width: 200px;
    border: 0px;
    padding: 5px;
}
.input2{
    margin-top: 30px;
    margin-left: 15%;
    border-radius: 30px;
    background-color: rgb(56, 56, 56);
    height: 30px;
    width: 200px;
    border: 0px;
    padding: 5px;
}
.button{
    margin-top: 30px;
    margin-left: 36%;
    background-color: rgb(180, 180, 180);
    height: 30px;
    width: 80px;
    border-radius: 30px;
    border: 0px;
}
.inputall{
    margin-top: 10%;
    margin-left: 45%;
    background-color: rgb(19, 18, 18);
    height: 500px;
    width: 300px;
}